
appveyor.yml
Externals/conemu-inside
GitCommands/SshPathLocator.cs
GitCommands/Submodules/SubmoduleStatusProvider.cs
GitUI/Avatars/BackupAvatarProvider.cs
GitUI/CommandsDialogs/FormCommit.cs
GitUI/CommandsDialogs/FormVerify.cs
GitUI/Editor/FindAndReplaceForm.cs
GitUI/GitUI.csproj
GitUI/Infrastructure/Telemetry/DiagnosticsClient.cs
GitUI/Properties/Resources.resx
GitUI/Resources/ChangeLog.md
GitUI/Themes/darksilver.css
Setup/Prepare-Release.ps1
Setup/Product.wxs
UnitTests/GitUI.Tests/Editor/FindAndReplaceFormTests.cs
